---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <h1 style="margin-bottom: 500px;">Astro yay</h1>
    <h1 style="margin-bottom: 500px;">Astro yay</h1>
    <h1 style="margin-bottom: 500px;">Astro yay</h1>
    <h1 style="margin-bottom: 500px;">Astro yay</h1>
    <h1 style="margin-bottom: 500px;">Astro yay</h1>
    <h1 style="margin-bottom: 500px;">Astro yay</h1>
    <h1 style="margin-bottom: 500px;">Astro yay</h1>
    <h1 style="margin-bottom: 500px;">Astro yay</h1>
    <h1 style="margin-bottom: 500px;">Astro yay</h1>
    <h1 style="margin-bottom: 500px;">Astro yay</h1>
  </main>
</Layout>
